

.App {
  text-align: center;
}

.home-image {
  height: 95%;
  position: absolute;
  top: 0;
  left: 0;
}

.searchbar {
  z-index: 1;
  position: absolute;
  top: 60%;
  left: 30%;
}

.form-button {
  position: absolute;
  top: 3%;
  width: 8%;
}

.login-button {
  right: 13%;
}

.register-button {
  right: 4%;
}
