#stars-group-1 {
  width: 2px;
  height: 2px;
  border-radius: 50%;
  opacity: 0;
  box-shadow: 1706px 1251px #fff, 946px 755px #fff, 1341px 1696px #fff,
    672px 903px #fff, 1126px 1375px #fff, 1468px 871px #fff, 360px 1028px #fff,
    1440px 1638px #fff, 909px 1540px #fff, 641px 1538px #fff, 923px 474px #fff,
    69px 802px #fff, 482px 425px #fff, 1345px 1250px #fff, 192px 1725px #fff,
    1528px 1514px #fff, 1595px 36px #fff, 675px 1061px #fff, 757px 1145px #fff,
    609px 582px #fff, 1351px 112px #fff, 627px 214px #fff, 1130px 153px #fff,
    658px 140px #fff, 902px 1253px #fff, 1724px 672px #fff, 1165px 777px #fff,
    1530px 562px #fff, 52px 185px #fff, 1225px 304px #fff, 29px 871px #fff,
    868px 1292px #fff, 1521px 923px #fff, 524px 315px #fff, 11px 845px #fff,
    1158px 874px #fff, 271px 1591px #fff, 1213px 687px #fff, 1192px 1658px #fff,
    1385px 1156px #fff, 457px 1035px #fff, 1739px 1646px #fff, 1530px 335px #fff,
    38px 1791px #fff, 865px 1328px #fff, 450px 899px #fff, 247px 903px #fff,
    1446px 163px #fff, 6px 920px #fff, 1121px 765px #fff, 1385px 1300px #fff,
    932px 1781px #fff, 413px 1529px #fff, 1679px 796px #fff, 742px 755px #fff,
    225px 377px #fff, 1370px 819px #fff, 441px 1153px #fff, 619px 390px #fff,
    1078px 1215px #fff, 989px 641px #fff, 202px 1266px #fff, 308px 461px #fff,
    1658px 109px #fff, 888px 1174px #fff, 216px 1094px #fff, 761px 1307px #fff,
    1247px 1479px #fff, 1130px 1637px #fff, 1115px 433px #fff,
    1468px 1210px #fff, 171px 445px #fff, 255px 849px #fff, 200px 254px #fff,
    1160px 998px #fff, 588px 177px #fff, 290px 363px #fff, 395px 305px #fff,
    1394px 543px #fff, 1376px 113px #fff, 527px 480px #fff, 501px 872px #fff,
    611px 383px #fff, 339px 119px #fff, 740px 21px #fff, 957px 1715px #fff,
    1543px 901px #fff, 975px 1539px #fff, 1512px 871px #fff, 11px 1278px #fff,
    557px 1186px #fff, 1442px 1026px #fff, 1399px 183px #fff, 647px 1469px #fff,
    19px 167px #fff, 1338px 615px #fff, 277px 768px #fff, 1653px 851px #fff,
    737px 1197px #fff, 1116px 273px #fff, 1371px 133px #fff, 1014px 654px #fff,
    1190px 1157px #fff, 1216px 1523px #fff, 918px 615px #fff, 56px 1754px #fff,
    704px 645px #fff, 143px 1479px #fff, 1055px 427px #fff, 39px 1227px #fff,
    145px 861px #fff, 560px 1313px #fff, 1064px 264px #fff, 1680px 1109px #fff,
    1609px 248px #fff, 1086px 138px #fff, 1677px 646px #fff, 1746px 1742px #fff,
    100px 1479px #fff, 56px 462px #fff, 775px 876px #fff, 356px 172px #fff,
    1031px 194px #fff, 1773px 1301px #fff, 529px 1668px #fff, 842px 1434px #fff,
    1343px 569px #fff, 233px 1345px #fff, 159px 475px #fff, 177px 659px #fff,
    1595px 167px #fff, 1706px 914px #fff, 533px 1136px #fff, 1251px 730px #fff,
    157px 1700px #fff, 926px 1342px #fff, 1551px 264px #fff, 224px 143px #fff,
    1336px 993px #fff, 562px 794px #fff, 924px 80px #fff, 1033px 1101px #fff,
    1551px 1483px #fff, 160px 736px #fff, 1584px 121px #fff, 166px 896px #fff,
    1349px 206px #fff, 579px 52px #fff, 543px 396px #fff, 1099px 679px #fff,
    1554px 377px #fff, 1123px 1019px #fff, 999px 843px #fff, 1026px 1714px #fff,
    1363px 1593px #fff, 261px 169px #fff, 1330px 1325px #fff, 569px 1787px #fff,
    1167px 477px #fff, 664px 794px #fff, 1688px 1347px #fff, 305px 805px #fff,
    1754px 40px #fff, 1461px 986px #fff, 896px 1748px #fff, 721px 1113px #fff,
    313px 1243px #fff, 1379px 1156px #fff, 315px 146px #fff, 802px 800px #fff,
    501px 1452px #fff, 210px 577px #fff, 1562px 687px #fff, 1258px 124px #fff,
    1167px 1113px #fff, 1051px 1535px #fff, 1593px 540px #fff, 1600px 458px #fff,
    1622px 1692px #fff, 150px 1128px #fff, 1687px 412px #fff, 1712px 241px #fff,
    1125px 293px #fff, 1231px 746px #fff, 222px 1302px #fff, 1365px 964px #fff,
    152px 353px #fff, 202px 1161px #fff, 998px 1402px #fff, 1318px 1567px #fff,
    298px 578px #fff, 1576px 1024px #fff, 97px 262px #fff, 1168px 74px #fff,
    218px 1620px #fff, 1270px 1216px #fff, 1186px 140px #fff, 493px 466px #fff,
    1176px 847px #fff, 1422px 1603px #fff;
  animation-name: glowing-stars;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
  animation-delay: 0s;
}

#stars-group-2 {
  width: 2px;
  height: 2px;
  border-radius: 50%;
  opacity: 0;
  box-shadow: 337px 535px #fff, 1645px 1763px #fff, 775px 546px #fff,
    373px 1697px #fff, 1367px 799px #fff, 766px 1444px #fff, 182px 979px #fff,
    13px 384px #fff, 752px 1391px #fff, 1457px 1731px #fff, 1777px 1091px #fff,
    311px 446px #fff, 46px 413px #fff, 1008px 1242px #fff, 141px 1796px #fff,
    721px 843px #fff, 127px 553px #fff, 461px 685px #fff, 283px 1252px #fff,
    260px 1691px #fff, 1030px 165px #fff, 631px 1383px #fff, 1426px 1713px #fff,
    493px 1553px #fff, 1249px 178px #fff, 123px 1026px #fff, 1296px 309px #fff,
    28px 1428px #fff, 416px 1360px #fff, 1041px 1380px #fff, 415px 1289px #fff,
    909px 440px #fff, 1330px 777px #fff, 1661px 143px #fff, 1195px 1153px #fff,
    168px 650px #fff, 1207px 901px #fff, 1307px 1392px #fff, 510px 374px #fff,
    911px 121px #fff, 1303px 781px #fff, 640px 313px #fff, 1534px 1423px #fff,
    619px 1016px #fff, 1323px 713px #fff, 914px 1052px #fff, 1003px 1466px #fff,
    1112px 21px #fff, 1760px 1260px #fff, 1541px 623px #fff, 818px 1554px #fff,
    1245px 752px #fff, 940px 202px #fff, 1486px 76px #fff, 462px 153px #fff,
    1006px 1284px #fff, 1421px 93px #fff, 932px 536px #fff, 1393px 507px #fff,
    682px 17px #fff, 1622px 1324px #fff, 690px 1035px #fff, 941px 1585px #fff,
    68px 183px #fff, 1723px 741px #fff, 1694px 887px #fff, 775px 666px #fff,
    1504px 1685px #fff, 852px 219px #fff, 1723px 1227px #fff, 143px 75px #fff,
    290px 1663px #fff, 1576px 52px #fff, 888px 752px #fff, 265px 1003px #fff,
    637px 1388px #fff, 1028px 1361px #fff, 1563px 728px #fff, 1559px 14px #fff,
    1003px 1465px #fff, 1045px 1570px #fff, 297px 1412px #fff,
    1507px 1711px #fff, 427px 1295px #fff, 5px 1365px #fff, 661px 1px #fff,
    1572px 590px #fff, 1608px 194px #fff, 678px 1626px #fff, 538px 1025px #fff,
    979px 546px #fff, 1198px 291px #fff, 1054px 620px #fff, 707px 1210px #fff,
    866px 328px #fff, 613px 1098px #fff, 1179px 1552px #fff, 814px 855px #fff,
    1602px 569px #fff, 1113px 321px #fff, 1129px 1496px #fff, 1792px 306px #fff,
    1747px 615px #fff, 524px 1051px #fff, 908px 627px #fff, 1161px 771px #fff,
    231px 50px #fff, 634px 1652px #fff, 1774px 1469px #fff, 945px 1561px #fff,
    366px 484px #fff, 872px 1431px #fff, 1685px 1721px #fff, 241px 622px #fff,
    1642px 361px #fff, 121px 891px #fff, 1231px 1664px #fff, 450px 848px #fff,
    772px 780px #fff, 453px 1709px #fff, 1234px 1312px #fff, 1459px 1213px #fff,
    1067px 1560px #fff, 353px 933px #fff, 1464px 609px #fff, 1236px 172px #fff,
    1382px 1366px #fff, 1260px 996px #fff, 1465px 245px #fff, 975px 1275px #fff,
    461px 254px #fff, 715px 902px #fff, 776px 524px #fff, 1211px 529px #fff,
    629px 1423px #fff, 1522px 132px #fff, 1745px 1656px #fff, 104px 676px #fff,
    345px 686px #fff, 500px 1419px #fff, 372px 1439px #fff, 1712px 1579px #fff,
    565px 1580px #fff, 511px 1354px #fff, 570px 1492px #fff, 1354px 522px #fff,
    1738px 1562px #fff, 22px 1081px #fff, 720px 12px #fff, 509px 1185px #fff,
    1428px 420px #fff, 1653px 869px #fff, 1570px 282px #fff, 1347px 1561px #fff,
    182px 900px #fff, 1234px 701px #fff, 1494px 467px #fff, 1481px 1061px #fff,
    1316px 1757px #fff, 854px 877px #fff, 1345px 1791px #fff, 735px 804px #fff,
    1367px 1003px #fff, 738px 962px #fff, 24px 55px #fff, 1121px 37px #fff,
    1488px 1749px #fff, 1506px 893px #fff, 176px 568px #fff, 163px 1115px #fff,
    1171px 1115px #fff, 1331px 1417px #fff, 1232px 1635px #fff,
    1506px 1451px #fff, 380px 609px #fff, 1209px 412px #fff, 1229px 86px #fff,
    1658px 1167px #fff, 326px 1124px #fff, 986px 1246px #fff, 1758px 717px #fff,
    1617px 602px #fff, 861px 1128px #fff, 769px 174px #fff, 361px 416px #fff,
    257px 10px #fff, 1529px 1533px #fff, 1614px 1786px #fff, 329px 1540px #fff,
    765px 1419px #fff, 387px 1656px #fff, 417px 1676px #fff, 1495px 877px #fff,
    1596px 827px #fff, 890px 1436px #fff, 1694px 149px #fff, 866px 858px #fff,
    941px 401px #fff, 1287px 389px #fff, 1397px 1774px #fff;
  animation-name: glowing-stars;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
  animation-delay: 0.1s;
}

#stars-group-3 {
  width: 2px;
  height: 2px;
  border-radius: 50%;
  opacity: 0;
  box-shadow: 849px 400px #fff, 1156px 1346px #fff, 957px 602px #fff,
    46px 819px #fff, 1389px 278px #fff, 1575px 1376px #fff, 1629px 34px #fff,
    1234px 1516px #fff, 715px 1428px #fff, 597px 1000px #fff, 594px 1672px #fff,
    998px 825px #fff, 141px 1359px #fff, 891px 1708px #fff, 414px 1036px #fff,
    595px 512px #fff, 743px 1636px #fff, 1059px 1281px #fff, 1157px 1582px #fff,
    1418px 103px #fff, 1080px 102px #fff, 35px 1569px #fff, 512px 1378px #fff,
    1496px 783px #fff, 141px 420px #fff, 1465px 602px #fff, 130px 660px #fff,
    412px 1046px #fff, 220px 1118px #fff, 815px 3px #fff, 250px 1335px #fff,
    414px 688px #fff, 1687px 1724px #fff, 1546px 592px #fff, 1695px 1800px #fff,
    17px 150px #fff, 303px 243px #fff, 913px 1047px #fff, 388px 874px #fff,
    1022px 739px #fff, 1537px 568px #fff, 224px 985px #fff, 349px 1px #fff,
    1487px 879px #fff, 342px 932px #fff, 483px 1250px #fff, 587px 481px #fff,
    1119px 1241px #fff, 241px 1010px #fff, 721px 1642px #fff, 849px 1492px #fff,
    1200px 276px #fff, 941px 143px #fff, 453px 265px #fff, 74px 547px #fff,
    595px 697px #fff, 1751px 676px #fff, 1319px 200px #fff, 1490px 1499px #fff,
    887px 113px #fff, 1526px 476px #fff, 1549px 1431px #fff, 1765px 426px #fff,
    828px 1711px #fff, 184px 1374px #fff, 1125px 970px #fff, 423px 664px #fff,
    1583px 570px #fff, 1520px 1225px #fff, 587px 617px #fff, 263px 757px #fff,
    132px 639px #fff, 1725px 772px #fff, 1011px 321px #fff, 293px 1204px #fff,
    1136px 526px #fff, 765px 1219px #fff, 890px 723px #fff, 447px 1144px #fff,
    50px 829px #fff, 1245px 1478px #fff, 1386px 1157px #fff, 497px 878px #fff,
    635px 682px #fff, 47px 1321px #fff, 663px 1298px #fff, 298px 413px #fff,
    437px 491px #fff, 116px 1383px #fff, 1182px 1595px #fff, 1785px 297px #fff,
    1705px 23px #fff, 113px 1195px #fff, 1615px 1699px #fff, 1181px 1765px #fff,
    154px 1040px #fff, 1095px 43px #fff, 756px 457px #fff, 1080px 506px #fff,
    1521px 1541px #fff, 1787px 529px #fff, 1272px 1250px #fff, 1340px 663px #fff,
    23px 639px #fff, 540px 1426px #fff, 1641px 543px #fff, 1182px 214px #fff,
    548px 1188px #fff, 99px 946px #fff, 1263px 1735px #fff, 266px 1799px #fff,
    1443px 154px #fff, 1513px 1418px #fff, 1566px 1710px #fff, 493px 1686px #fff,
    846px 787px #fff, 836px 93px #fff, 1439px 1714px #fff, 467px 1346px #fff,
    140px 607px #fff, 889px 1553px #fff, 412px 47px #fff, 1052px 1222px #fff,
    274px 1248px #fff, 860px 596px #fff, 506px 1024px #fff, 979px 1777px #fff,
    183px 531px #fff, 639px 1358px #fff, 794px 1585px #fff, 976px 1504px #fff,
    371px 1684px #fff, 946px 595px #fff, 1791px 106px #fff, 564px 728px #fff,
    352px 1292px #fff, 1054px 707px #fff, 1361px 286px #fff, 281px 593px #fff,
    1505px 649px #fff, 1221px 1554px #fff, 385px 1184px #fff, 1121px 1440px #fff,
    1227px 1782px #fff, 1305px 1742px #fff, 907px 324px #fff, 1517px 1047px #fff,
    304px 1187px #fff, 831px 1442px #fff, 424px 1634px #fff, 1462px 667px #fff,
    252px 184px #fff, 640px 1627px #fff, 1514px 223px #fff, 1046px 1004px #fff,
    766px 36px #fff, 1085px 127px #fff, 1410px 1717px #fff, 613px 935px #fff,
    1611px 1007px #fff, 369px 1345px #fff, 978px 656px #fff, 47px 1187px #fff,
    1434px 1089px #fff, 747px 1611px #fff, 1083px 591px #fff, 548px 1414px #fff,
    509px 1388px #fff, 212px 1582px #fff, 1581px 701px #fff, 466px 1193px #fff,
    746px 494px #fff, 692px 711px #fff, 231px 579px #fff, 1295px 1142px #fff,
    907px 875px #fff, 993px 165px #fff, 1677px 178px #fff, 1465px 530px #fff,
    1409px 1569px #fff, 1308px 4px #fff, 875px 725px #fff, 1px 728px #fff,
    258px 706px #fff, 548px 1497px #fff, 336px 1760px #fff, 672px 535px #fff,
    980px 1340px #fff, 1367px 1298px #fff, 535px 665px #fff, 876px 1473px #fff,
    850px 268px #fff, 554px 1198px #fff, 1203px 554px #fff, 415px 708px #fff,
    247px 369px #fff, 1624px 738px #fff, 847px 1733px #fff, 1571px 1709px #fff,
    1780px 186px #fff;
  animation-name: glowing-stars;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
  animation-delay: 0.2s;
}

#stars-group-4 {
  width: 2px;
  height: 2px;
  border-radius: 50%;
  opacity: 0;
  box-shadow: 732px 833px #fff, 1760px 121px #fff, 400px 521px #fff,
    1408px 1765px #fff, 221px 1609px #fff, 927px 736px #fff, 1362px 347px #fff,
    1518px 191px #fff, 1374px 132px #fff, 483px 480px #fff, 61px 1023px #fff,
    434px 362px #fff, 1360px 13px #fff, 926px 253px #fff, 1054px 252px #fff,
    801px 841px #fff, 408px 1494px #fff, 1750px 1233px #fff, 947px 1600px #fff,
    1763px 33px #fff, 606px 622px #fff, 364px 479px #fff, 1116px 250px #fff,
    1323px 1482px #fff, 1724px 1189px #fff, 292px 1797px #fff,
    1182px 1474px #fff, 1113px 1262px #fff, 1527px 500px #fff, 437px 1759px #fff,
    474px 1158px #fff, 1275px 158px #fff, 39px 607px #fff, 942px 220px #fff,
    665px 1309px #fff, 151px 203px #fff, 1432px 648px #fff, 1604px 1586px #fff,
    109px 947px #fff, 1433px 952px #fff, 861px 976px #fff, 1542px 1799px #fff,
    1137px 224px #fff, 214px 436px #fff, 407px 1543px #fff, 752px 563px #fff,
    774px 723px #fff, 449px 162px #fff, 1725px 1736px #fff, 806px 170px #fff,
    383px 1134px #fff, 1313px 7px #fff, 405px 790px #fff, 1275px 117px #fff,
    1056px 374px #fff, 794px 450px #fff, 1158px 555px #fff, 1603px 637px #fff,
    999px 23px #fff, 1334px 973px #fff, 1386px 716px #fff, 356px 1235px #fff,
    1092px 1186px #fff, 1795px 1092px #fff, 250px 1384px #fff, 631px 1653px #fff,
    1440px 679px #fff, 1448px 1494px #fff, 1237px 1093px #fff, 646px 419px #fff,
    68px 202px #fff, 718px 891px #fff, 665px 1018px #fff, 1435px 1417px #fff,
    1797px 390px #fff, 317px 243px #fff, 792px 25px #fff, 750px 675px #fff,
    1081px 721px #fff, 1742px 1689px #fff, 1039px 1121px #fff, 1202px 869px #fff,
    978px 876px #fff, 1084px 572px #fff, 1582px 935px #fff, 824px 583px #fff,
    1145px 1658px #fff, 476px 1039px #fff, 1231px 459px #fff, 547px 1572px #fff,
    867px 328px #fff, 1340px 240px #fff, 913px 1629px #fff, 331px 337px #fff,
    1295px 1379px #fff, 1335px 250px #fff, 964px 573px #fff, 317px 823px #fff,
    1474px 278px #fff, 1191px 626px #fff, 792px 83px #fff, 1239px 1643px #fff,
    1502px 1597px #fff, 345px 3px #fff, 1243px 1484px #fff, 451px 246px #fff,
    489px 181px #fff, 849px 1743px #fff, 290px 34px #fff, 1008px 1157px #fff,
    1646px 1276px #fff, 1183px 1588px #fff, 1007px 914px #fff, 740px 1635px #fff,
    378px 808px #fff, 1210px 239px #fff, 1727px 1526px #fff, 30px 1365px #fff,
    767px 1205px #fff, 298px 670px #fff, 459px 769px #fff, 1679px 1433px #fff,
    470px 279px #fff, 1064px 1686px #fff, 1054px 1262px #fff, 973px 1385px #fff,
    1334px 195px #fff, 334px 1229px #fff, 153px 1532px #fff, 455px 707px #fff,
    1003px 1130px #fff, 1178px 22px #fff, 997px 408px #fff, 970px 1298px #fff,
    1658px 1538px #fff, 1552px 464px #fff, 585px 37px #fff, 1072px 166px #fff,
    902px 65px #fff, 1113px 598px #fff, 1240px 844px #fff, 733px 1312px #fff,
    97px 643px #fff, 1493px 1036px #fff, 248px 897px #fff, 458px 17px #fff,
    129px 63px #fff, 73px 4px #fff, 856px 1796px #fff, 239px 1072px #fff,
    322px 1361px #fff, 1494px 921px #fff, 1382px 981px #fff, 805px 1612px #fff,
    884px 970px #fff, 35px 535px #fff, 849px 820px #fff, 491px 1378px #fff,
    1524px 526px #fff, 223px 475px #fff, 936px 981px #fff, 278px 579px #fff,
    712px 646px #fff, 942px 1283px #fff, 101px 1694px #fff, 1692px 787px #fff,
    1110px 1457px #fff, 1638px 737px #fff, 73px 1582px #fff, 203px 1117px #fff,
    713px 818px #fff, 1227px 471px #fff, 758px 223px #fff, 1075px 1512px #fff,
    459px 210px #fff, 806px 1182px #fff, 493px 1704px #fff, 377px 918px #fff,
    804px 946px #fff, 1766px 1184px #fff, 72px 541px #fff, 1504px 651px #fff,
    1684px 1478px #fff, 1354px 877px #fff, 1377px 622px #fff, 1685px 262px #fff,
    416px 662px #fff, 28px 462px #fff, 1491px 436px #fff, 1481px 1207px #fff,
    1208px 796px #fff, 1532px 1063px #fff, 266px 629px #fff, 705px 1417px #fff,
    1656px 1060px #fff, 1304px 803px #fff, 437px 635px #fff, 1026px 444px #fff,
    1459px 1323px #fff, 1306px 333px #fff;
  animation-name: glowing-stars;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
  animation-delay: 0.3s;
}

#stars-group-5 {
  width: 2px;
  height: 2px;
  border-radius: 50%;
  opacity: 0;
  box-shadow: 668px 62px #fff, 1332px 679px #fff, 1208px 134px #fff,
    1092px 996px #fff, 614px 575px #fff, 285px 1683px #fff, 1800px 1044px #fff,
    270px 1241px #fff, 1230px 1180px #fff, 494px 598px #fff, 1620px 474px #fff,
    1588px 1010px #fff, 1631px 1146px #fff, 972px 1722px #fff, 585px 1109px #fff,
    470px 795px #fff, 111px 1045px #fff, 607px 341px #fff, 276px 780px #fff,
    367px 31px #fff, 1367px 1425px #fff, 1299px 532px #fff, 652px 1667px #fff,
    810px 488px #fff, 539px 1221px #fff, 1617px 1351px #fff, 656px 362px #fff,
    850px 1389px #fff, 620px 1218px #fff, 1692px 1470px #fff, 1662px 542px #fff,
    1468px 1271px #fff, 1268px 1304px #fff, 420px 1361px #fff, 954px 2px #fff,
    714px 182px #fff, 107px 1008px #fff, 338px 242px #fff, 1142px 985px #fff,
    1379px 433px #fff, 484px 1081px #fff, 1297px 1190px #fff, 1312px 1313px #fff,
    1575px 997px #fff, 1233px 75px #fff, 1739px 1054px #fff, 87px 651px #fff,
    1348px 487px #fff, 1767px 495px #fff, 1132px 1107px #fff, 1568px 79px #fff,
    1180px 1028px #fff, 1655px 61px #fff, 1792px 844px #fff, 430px 987px #fff,
    917px 68px #fff, 1727px 416px #fff, 1112px 1606px #fff, 1717px 1235px #fff,
    1260px 1109px #fff, 658px 106px #fff, 1349px 440px #fff, 904px 1052px #fff,
    801px 791px #fff, 605px 577px #fff, 1169px 401px #fff, 1221px 1178px #fff,
    1738px 936px #fff, 1453px 547px #fff, 371px 979px #fff, 489px 1065px #fff,
    257px 1338px #fff, 758px 1426px #fff, 1468px 810px #fff, 115px 1018px #fff,
    1632px 1702px #fff, 428px 1120px #fff, 286px 866px #fff, 1136px 961px #fff,
    341px 333px #fff, 164px 1178px #fff, 744px 746px #fff, 226px 145px #fff,
    1402px 211px #fff, 696px 485px #fff, 549px 1100px #fff, 1394px 288px #fff,
    365px 231px #fff, 1796px 996px #fff, 470px 432px #fff, 1344px 1583px #fff,
    127px 135px #fff, 705px 1382px #fff, 609px 1713px #fff, 1593px 307px #fff,
    1044px 153px #fff, 454px 1305px #fff, 198px 795px #fff, 531px 1433px #fff,
    374px 1794px #fff, 1170px 1187px #fff, 981px 1019px #fff, 980px 1023px #fff,
    1151px 279px #fff, 390px 456px #fff, 1195px 176px #fff, 1104px 1674px #fff,
    179px 67px #fff, 1705px 960px #fff, 838px 1636px #fff, 1110px 977px #fff,
    1165px 288px #fff, 283px 1542px #fff, 444px 339px #fff, 673px 191px #fff,
    1363px 1603px #fff, 1408px 1623px #fff, 490px 534px #fff, 1268px 477px #fff,
    1656px 1793px #fff, 655px 1650px #fff, 158px 683px #fff, 354px 753px #fff,
    1779px 399px #fff, 380px 485px #fff, 855px 1086px #fff, 71px 1371px #fff,
    1680px 1106px #fff, 1067px 1665px #fff, 1530px 1767px #fff,
    1058px 1627px #fff, 508px 584px #fff, 887px 1032px #fff, 1069px 1694px #fff,
    899px 1365px #fff, 1759px 838px #fff, 1511px 506px #fff, 434px 1380px #fff,
    1795px 1195px #fff, 1451px 312px #fff, 1193px 462px #fff, 1064px 685px #fff,
    653px 726px #fff, 1051px 94px #fff, 471px 1524px #fff, 675px 1024px #fff,
    1109px 1323px #fff, 1432px 355px #fff, 1441px 882px #fff, 848px 58px #fff,
    1453px 1305px #fff, 746px 1468px #fff, 970px 1137px #fff, 282px 1570px #fff,
    1202px 702px #fff, 21px 987px #fff, 756px 441px #fff, 1231px 1151px #fff,
    1489px 838px #fff, 802px 212px #fff, 1027px 554px #fff, 399px 1446px #fff,
    906px 1042px #fff, 591px 1223px #fff, 683px 594px #fff, 1141px 1355px #fff,
    1721px 452px #fff, 505px 1516px #fff, 713px 1337px #fff, 339px 1672px #fff,
    1449px 1171px #fff, 1759px 1268px #fff, 1292px 1542px #fff,
    1587px 1169px #fff, 625px 1175px #fff, 651px 454px #fff, 669px 662px #fff,
    1505px 108px #fff, 9px 533px #fff, 692px 936px #fff, 599px 122px #fff,
    626px 1187px #fff, 1613px 1330px #fff, 1129px 886px #fff, 849px 495px #fff,
    514px 1780px #fff, 871px 238px #fff, 1254px 647px #fff, 838px 1735px #fff,
    656px 961px #fff, 1319px 602px #fff, 533px 534px #fff, 871px 99px #fff,
    486px 1559px #fff, 1159px 1752px #fff, 615px 690px #fff, 1482px 376px #fff,
    1219px 53px #fff, 1012px 108px #fff, 1295px 626px #fff;
  animation-name: glowing-stars;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
  animation-delay: 0.4s;
}

#stars-group-6 {
  width: 2px;
  height: 2px;
  border-radius: 50%;
  opacity: 0;
  box-shadow: 1204px 1142px #fff, 130px 1148px #fff, 223px 1759px #fff,
    1075px 1761px #fff, 1201px 300px #fff, 1513px 233px #fff, 80px 230px #fff,
    1294px 448px #fff, 1525px 317px #fff, 771px 314px #fff, 1242px 63px #fff,
    577px 361px #fff, 1063px 780px #fff, 303px 570px #fff, 803px 101px #fff,
    493px 1581px #fff, 838px 1543px #fff, 1382px 616px #fff, 928px 588px #fff,
    860px 983px #fff, 1346px 1670px #fff, 1724px 285px #fff, 1536px 1638px #fff,
    230px 1370px #fff, 1182px 716px #fff, 375px 850px #fff, 1316px 142px #fff,
    1160px 730px #fff, 460px 591px #fff, 1451px 1211px #fff, 345px 743px #fff,
    395px 1505px #fff, 952px 54px #fff, 1624px 1578px #fff, 1513px 703px #fff,
    1660px 450px #fff, 1022px 1360px #fff, 214px 1456px #fff, 202px 1359px #fff,
    195px 838px #fff, 1440px 1642px #fff, 1606px 1013px #fff, 1292px 663px #fff,
    276px 635px #fff, 1011px 249px #fff, 500px 590px #fff, 1045px 1375px #fff,
    823px 1165px #fff, 1414px 137px #fff, 118px 356px #fff, 183px 1143px #fff,
    749px 1229px #fff, 109px 332px #fff, 1397px 220px #fff, 1067px 323px #fff,
    1686px 830px #fff, 1767px 821px #fff, 1399px 945px #fff, 443px 334px #fff,
    651px 785px #fff, 889px 685px #fff, 1355px 1392px #fff, 1309px 599px #fff,
    213px 1280px #fff, 589px 1382px #fff, 711px 1557px #fff, 1655px 799px #fff,
    584px 1482px #fff, 1697px 1254px #fff, 963px 1346px #fff, 1342px 480px #fff,
    529px 1041px #fff, 1433px 333px #fff, 306px 295px #fff, 320px 480px #fff,
    262px 1550px #fff, 468px 1577px #fff, 862px 666px #fff, 807px 764px #fff,
    1236px 377px #fff, 924px 1620px #fff, 693px 1032px #fff, 1289px 844px #fff,
    1017px 324px #fff, 1418px 492px #fff, 1554px 144px #fff, 1588px 1457px #fff,
    124px 1124px #fff, 1177px 234px #fff, 1457px 474px #fff, 673px 1150px #fff,
    691px 1065px #fff, 1111px 213px #fff, 1502px 49px #fff, 462px 260px #fff,
    1510px 1159px #fff, 634px 1424px #fff, 159px 1478px #fff, 273px 264px #fff,
    974px 1471px #fff, 191px 961px #fff, 636px 259px #fff, 1446px 1297px #fff,
    622px 514px #fff, 131px 154px #fff, 1380px 790px #fff, 782px 1714px #fff,
    821px 1419px #fff, 584px 1061px #fff, 1651px 487px #fff, 1185px 655px #fff,
    1463px 1300px #fff, 1439px 1075px #fff, 1430px 465px #fff, 362px 1219px #fff,
    1306px 1576px #fff, 853px 639px #fff, 949px 195px #fff, 88px 222px #fff,
    1461px 455px #fff, 1308px 1403px #fff, 371px 930px #fff, 1626px 1147px #fff,
    323px 1355px #fff, 1499px 957px #fff, 389px 433px #fff, 1225px 715px #fff,
    417px 1691px #fff, 227px 465px #fff, 610px 245px #fff, 892px 877px #fff,
    55px 483px #fff, 679px 704px #fff, 1547px 1565px #fff, 27px 863px #fff,
    700px 457px #fff, 1795px 87px #fff, 1536px 1290px #fff, 1223px 1753px #fff,
    633px 1411px #fff, 1482px 99px #fff, 1592px 763px #fff, 417px 1685px #fff,
    1746px 1194px #fff, 872px 1674px #fff, 616px 346px #fff, 3px 1025px #fff,
    905px 567px #fff, 705px 478px #fff, 219px 697px #fff, 1495px 1634px #fff,
    1703px 101px #fff, 906px 700px #fff, 1452px 1289px #fff, 942px 590px #fff,
    956px 1589px #fff, 325px 1770px #fff, 1657px 447px #fff, 260px 904px #fff,
    767px 1613px #fff, 351px 491px #fff, 870px 765px #fff, 1128px 595px #fff,
    430px 1481px #fff, 730px 1055px #fff, 88px 975px #fff, 1084px 471px #fff,
    846px 418px #fff, 787px 1026px #fff, 1727px 427px #fff, 265px 1064px #fff,
    1737px 642px #fff, 1523px 1716px #fff, 1446px 1257px #fff, 494px 904px #fff,
    1090px 191px #fff, 1446px 1059px #fff, 968px 750px #fff, 718px 278px #fff,
    756px 1212px #fff, 1465px 168px #fff, 664px 640px #fff, 502px 1782px #fff,
    152px 1771px #fff, 1088px 1139px #fff, 525px 1323px #fff, 1794px 473px #fff,
    1673px 935px #fff, 1532px 78px #fff, 1754px 864px #fff, 1338px 217px #fff,
    1068px 881px #fff, 848px 760px #fff, 334px 624px #fff, 1759px 364px #fff,
    170px 1569px #fff, 29px 79px #fff, 453px 1294px #fff, 707px 937px #fff,
    883px 1544px #fff;
  animation-name: glowing-stars;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
  animation-delay: 0.5s;
}

@keyframes glowing-stars {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
