.App {
  text-align: center;
}

.home-image {
  height: 95%;
  position: absolute;
  top: 0;
  left: 0;
}

.coblima-header {
  color: white;
  position: absolute;
  top: 10px;
  left: 40px;
}

.html {
  overflow-y: scroll;
}
