.course-header-tile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 130px;
  width: 130px;
  background-color: #6c63ff;
  filter: drop-shadow(2px 2px 2px grey);
  border-radius: 5px;
  margin: 0px 30px;
  padding: 10px 20px;
}

.course-header-tile-icon {
  display: flex;
  margin-top: 10px;
}

.course-header-tile-score {
  display: flex;
  font-family: Roboto;
  font-size: 1.5em;
  color: white;
  justify-content: center;
}

.course-header-tile-caption {
  display: flex;
  font-family: Roboto;
  font-size: 12px;
  color: white;
  opacity: 0.7;
  margin-top: -2.5px;
  justify-content: center;
}
