.coblima-title {
  color: #6c63ff;
  font-family: ReemKufi;
  position: absolute;
  top: 40px;
  left: 96px;
}

.coblima-title:hover {
  cursor: pointer;
  transform: scale(1.05);
  transition-duration: 0.5s;
}
