/* Italicise placeholder */
::-webkit-input-placeholder {
  font-style: italic;
}
:-moz-placeholder {
  font-style: italic;
}
::-moz-placeholder {
  font-style: italic;
}
:-ms-input-placeholder {
  font-style: italic;
}

/* Disable highlight for input and button fields */
input:focus,
textarea:focus,
select:focus,
button:focus {
  outline: none;
}

.textarea-bar {
  display: flex;
  width: 90%;
  height: 60px;
  background-color: white;
  filter: drop-shadow(3px 5px 4px grey);
  border-radius: 15px;
  margin-bottom: 5%;
  font-family: Roboto;
  padding: 20px;
}

.textarea-text {
  border: none;
  width: 100%;
  height: auto;
  font-size: 20px;
  background-color: none;
  font-family: Roboto;
  flex-wrap: wrap;
}

.textarea-count {
  display: flex;
  font-family: Roboto;
  font-size: 16px;
  color: gray;
  align-self: flex-end;
  width: auto;
  white-space: nowrap;
}
