.submit-button {
  background-color: rgba(95, 88, 204, 0.8);
  font-family: ReemKufi;
  font-size: 1.6em;
  height: 60px;
  width: 90%;
  color: white;
  border: none;
  border-radius: 50px;
  filter: drop-shadow(3px 6px 3px grey);
}

.submit-button:hover {
  cursor: pointer;
  transform: scale(1.05);
  transition-duration: 0.5s;
}
