/* Italicise placeholder */
::-webkit-input-placeholder {
  font-style: italic;
}
:-moz-placeholder {
  font-style: italic;
}
::-moz-placeholder {
  font-style: italic;
}
:-ms-input-placeholder {
  font-style: italic;
}

/* Disable highlight for input and button fields */
input:focus,
textarea:focus,
select:focus,
button:focus {
  outline: none;
}

/* Add button focus on hover */
.submit-logo:hover {
  transform: scale(1.2);
  transition: transform 0.1s;
}

.searchbar-container {
  display: flex;
  align-items: center;
  width: 55%;
  background-color: white;
  filter: drop-shadow(3px 5px 4px grey);
  border-radius: 50px;
  padding: 25px 40px;
}

.searchbar-form {
  display: flex;
  width: 100%;
  font-family: ReemKufi;
}

.search-input-text {
  z-index: 3;
  border: none;
  height: 100%;
  width: 100%;
  font-size: 30px;
  float: left;
  background-color: none;
}

.submit-logo {
  z-index: 2;
  display: flex;
  font-size: 30px;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  color: grey;
  float: right;
}
