.status-container {
  position: absolute;
  top: 40px;
  right: 110px;
  padding-top: 10px;
  transition: all 1.0s;
}

.toggle-status-container {
  padding-top: 0px;
  border-radius: 15px;
  padding: 8px;
  margin-top: -20px;
}

.status-name {
  float: left;
  margin-right: 10px;
  color: #777;
  font-family: ReemKufi;
}

.status-arrow {
  padding-top: 0px;
}

.status-button {
  border: none;
  background-color: #fff;
  width: 100%;
  text-align: left;
  border-radius: 3px;
  padding: 0;
  margin: 0;
}

.status-button:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.1);
}

.status-button-text {
  color: #777777;
  margin: 0px;
  z-index: 100;
}

.dropdown-triangle {
  border: none;
  cursor: pointer;
  background-color: #ffffff;
  transition: all 0.5s;
}

.toggle-triangle {
  transform: rotate(90deg);
}

.status-subtext {
  color: #aaa;
  padding-left: 10px;
}